.wrapper {
  padding: 35px;
  width: 100%;
  background: var(--light);
  display: flex;
  flex-direction: column;
}

.navBlock {
  margin-bottom: 78px;
}

.social {
  display: flex;
  align-items: center;
  // margin: 0 auto;
}
