@mixin heading110Gold {
  color: #a78b73;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 110px;
  font-style: normal;
  font-weight: 300;
}

@mixin heading110White {
  color: #a78b73;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 110px;
  font-style: normal;
  font-weight: 300;
}

@mixin heading64Grey {
  color: #8f8f8f;
  font-family: "Cormorant Garamond";
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
}

@mixin heading90Grey {
  color: #8f8f8f;
  font-family: "Cormorant Garamond";
  font-size: 90px;
  font-style: normal;
  font-weight: 300;
}

@mixin heading90Gold {
  color: #a78b73;
  font-family: "Cormorant Garamond";
  font-size: 90px;
  font-style: normal;
  font-weight: 300;
}

@mixin heading74Grey {
  color: #8f8f8f;
  font-family: "Cormorant Garamond";
  font-size: 74px;
  font-style: normal;
  font-weight: 300;
}

@mixin subHeading40Grey {
  color: #8f8f8f;
  font-family: "Cormorant Garamond";
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
}

@mixin heading72Grey {
  color: #8f8f8f;
  font-family: "Cormorant Garamond";
  font-size: 72px;
  font-style: normal;
  font-weight: 300;
}

@mixin heading72Gold {
  color: #a78b73;
  font-family: "Cormorant Garamond";
  font-size: 72px;
  font-style: normal;
  font-weight: 300;
}

@mixin text12Gray {
  color: #8f8f8f;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

@mixin text16Gray {
  color: #8f8f8f;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

@mixin text16GrayUPPER {
  color: #8f8f8f;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

@mixin text14GoldUPPER {
  color: #a78b73;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}
