@import "./variables";
@import "./fonts";

body {
  font-family: Montserrat;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Infant";
  // font-family: "Cormorant Garamond";
  font-weight: 300;
}

.container {
  width: calc(100vw - clamp(40px, calc(12rem + ((1vw - 19.2px) * 9.7436)), 192px));
  // width: (1150px, calc(108rem + ((1vw - 19.2px) * 90.3125)), 1728px);
  // width: calc(108rem + ((1vw - 19.2px) * 90.3125));
  margin: 0 auto;
}

// .container {
//   margin: 0 auto;
//   max-width: calc(
//     1920px - clamp(50px, calc(6.125rem + ((1vw - 19.2px) * 7.5)), 98px)
//   );
//   width: 100%;
//   padding: 0 clamp(50px, calc(6.125rem + ((1vw - 19.2px) * 7.5)), 98px);
// }