@import "./variables";
@import "./fonts";

.container {
  width: 90vw;
  margin: 0 auto;
}

body {
  font-family: Montserrat;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: "Cormorant Garamond";
  font-family: "Cormorant Garamond";
  font-weight: 300;
}
