@import "./variables";
@import "./fonts";

body {
  font-family: Montserrat;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Infant";
  // font-family: "Cormorant Garamond";
  font-weight: 300;
}

.container {
  // width: 90vw;
  width: clamp(1180px, calc(108rem + ((1vw - 19.2px) * 85.625)), 1728px);
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    width: 1180px; //92,1875vw
  }
}
