.nav {
  a {
    text-decoration: none;
    margin-right: 60px;
    &.link-active {
      color: #e59c9c;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &-black {
    a {
      color: #0d0d0d;
    }
  }

  &-white {
    a {
      color: #ffffff;
    }
  }
}
