.nav {
  a {
    text-decoration: none;
    margin-right: 60px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.dark {
  a {
    color: #0d0d0d;
  }
}

.light {
  a {
    color: var(--light);
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 12px;

  font-size: 12px;
  font-weight: 400;
  margin-left: 4px;
}
