.nav {
  display: grid;
  a {
    text-decoration: none;
    margin-right: 60px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a:hover {
    color: var(--brown);
  }
  a .active {
    background-color: var(--brown);
    color: white;
  }
  a:active {
    background-color: var(--brown);
    color: white;
  }
}
li .active {
  background-color: var(--brown);
  color: white;
}

.active {
  background-color: var(--brown);
  color: white;
}

// .dark {
//   a {
//     color: var(--dark);
//   }
// }

// .light {
//   a {
//     color: var(--light);
//   }
// }

// background: var(--brown);

.menu {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  color: var(--light);
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  white-space: nowrap;
  margin-left: 4px;
  align-self: center;
}

@media (max-width: 1280px) {
  .menu {
    margin-right: clamp(0px, calc(0rem + ((1vw - 12.8px) * -2.0833)), 10px);
  }
}

@media (max-width: 320px) {
  .nav {
    display: none;
  }
}
