.root {
  padding-top: clamp(113px, calc(8.125rem + ((1vw - 19.2px) * 2.6563)), 130px);
  margin-bottom: auto;
  // flex: 1 0 auto;
}

.wrapper {
  position: relative;
}

.wrapper::after {
  content: "";
  background-image: url("../../assets/img/contactsPage/1920Contacts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: var(--distance-block);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: row;
  min-height: clamp(468px, calc(29.25rem + ((1vw - 19.2px) * -0.7812)), 473px);
  height: 100%;
}

.left {
  display: contents;
}

.performance {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

.performance {
  display: contents;
}

.ourСontacts {
  color: var(--grey2, #565656);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%; /* 18px */
  margin-right: auto;
  max-width: 75px;
  width: 100%;
}

.title {
  margin-top: clamp(0px, calc(0rem + ((1vw - 19.2px) * -1.5625)), 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark);
  font-size: 90px;
  font-weight: 300;
  line-height: 72px;
  max-width: 485px;
  width: 100%;
  margin-right: clamp(24px, calc(2.3125rem + ((1vw - 19.2px) * 2.0313)), 37px);
  em {
    color: var(--brown);
    margin-left: auto;
    font-style: normal;
  }
}
.right {
  max-width: clamp(318px, calc(30rem + ((1vw - 19.2px) * 25.3125)), 480px);
  width: 100%;
}

.contactsFrame,
.down {
  display: none;
}

@media (max-width: 1280px) {
  .title {
    font-size: clamp(38px, calc(5.625rem + ((1vw - 12.8px) * 5.6522)), 90px);
    line-height: clamp(30px, calc(4.5rem + ((1vw - 12.8px) * 4.5652)), 72px);
  }
  .ourСontacts {
    font-size: clamp(10px, calc(0.75rem + ((1vw - 12.8px) * 0.2174)), 12px);
    line-height: clamp(15px, calc(1.125rem + ((1vw - 12.8px) * 0.3261)), 18px);
  }
}

@media (max-width: 1024px) {
  .content {
    flex-direction: column;
    min-height: fit-content;
  }
  .right {
    display: none;
  }
  .wrapper::after {
    display: none;
  }
  .contactsFrame {
    display: flex;
    max-width: var(--interval-container);
    height: clamp(165px, calc(29.25rem + ((1vw - 10.24px) * 45.6325)), 468px);
    width: 100%;
    object-position: center;
    object-fit: cover;
    margin-bottom: clamp(
      24px,
      calc(3.125rem + ((1vw - 10.24px) * 3.9157)),
      50px
    );
  }
  .title {
    margin-left: auto;
  }

  .content {
    transform: translateY(28px);
  }

  .down {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .root {
    padding-top: clamp(
      0px,
      calc(7.0625rem + ((1vw - 10.24px) * 17.0181)),
      113px
    );
  }

  .ourСontacts {
    margin-bottom: clamp(0px, calc(0rem + ((1vw - 10.24px) * -4.3675)), 29px);
  }
  .title {
    align-items: end;
  }
  .content {
    margin-bottom: clamp(0px, calc(0rem + ((1vw - 10.24px) * -2.1084)), 14px);
  }
}
