@import "global/styles/global";

.root {
  background-color: var(--light);
  padding-top: 121px;
  padding-bottom: 166px;
}

.performance {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 98px;
  color: var(--grey2);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.58333;
  text-transform: uppercase;
}

.performance::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--grey2);
  bottom: -40px;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.works,
.get {
  font-size: 12px;
  font-weight: 400;
  color: var(--grey2);
  margin: auto 0;
}
.works {
  line-height: 1.58;
  width: 155px;
}

.get {
  position: relative;
  margin-right: 18px;
}

.get::after {
  content: "";
  position: absolute;
  display: block;
  width: 144%;
  height: 1px;
  background-color: var(--grey2);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.right {
  // margin-left: auto;
  margin: auto 0 auto auto;
  letter-spacing: 4px;
}

.title {
  font-size: 53px;
  color: var(--grey2);
  // letter-spacing: 3px;

  color: var(--grey2);
  font-family: "Cormorant Infant";
  font-size: 64px;
  line-height: 1.54688;
  text-transform: uppercase;
}

.trio {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 73px;
  color: var(--grey2);
}

.trio::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--grey2);
  bottom: -144px;
}

.two {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 31px;
}

.bigImg {
  height: 820px;
  width: 100%;
  object-fit: cover;
}

.smolImg {
  height: 360px;
  width: 100%;
  object-fit: cover;
}

.coment1 {
  // color: var(--grey2);
  font-family: "Cormorant Infant";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56;
  text-transform: uppercase;
}

.coment2 {
  // color: var(--grey2);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57143;
  margin-top: -3px;
}

.trio img {
  margin-bottom: 25px;
}
