.root {
  // background-color: var(--light);
  // padding: 126px 0 166px 0;
  padding: clamp(126px, calc(7.875rem + ((1vw - 19.2px) * -2.6562)), 143px) 0
    clamp(145px, calc(10.375rem + ((1vw - 19.2px) * 3.2813)), 166px) 0;
  color: var(--grey3);
}

.performance {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  // margin-bottom: 81px;
  margin-bottom: clamp(76px, calc(4.75rem + ((1vw - 19.2px) * -3.4375)), 98px);
  color: var(--grey3);
  font-size: 12px;
  font-weight: 400;
  line-height: clamp(
    15.6px,
    calc(1.1625rem + ((1vw - 19.2px) * 0.4688)),
    18.6px
  );
  text-transform: uppercase;
  transition: transform 0.7s;
}

.performance::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--grey3);
  bottom: clamp(-38px, calc(-1.125rem + ((1vw - 19.2px) * 3.125)), -18px);
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.works,
.get {
  color: var(--grey3);
  margin: auto 0;
}

.works {
  width: 155px;
  margin-right: 10px;
}

.get {
  position: relative;
  margin-right: 18px;
  padding-bottom: 6px;
}

.down {
  display: none;
}

.get::after {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  width: calc(7.5rem + ((1vw - 19.2px) * 2.6563));
  height: 1px;
  background-color: var(--grey3);
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.4s;
}

.get:hover::after {
  width: 140px;
}

.right {
  margin: auto 0 auto auto;
}

.title {
  letter-spacing: -1px;
  color: var(--grey3);
  font-family: "Cormorant Infant";
  font-size: 64px;
  // line-height: 1.54688;
  line-height: clamp(64px, calc(6.1875rem + ((1vw - 19.2px) * 5.4688)), 99px);
  text-transform: uppercase;
}

.trio {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(52px, calc(4.75rem + ((1vw - 19.2px) * 3.75)), 76px);
  color: var(--grey3);
}

.trio::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--grey3);

  bottom: clamp(-146px, calc(-6.4375rem + ((1vw - 19.2px) * 6.7188)), -103px);
}

.two {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 33px;
}

.bigImg {
  height: 803px;
  // height: 100%;
}

.smolImg {
  height: 360px;
  // height: 100%;
}

.smolImg,
.bigImg {
  width: 100%;
  object-position: center;
  object-fit: cover;
  transition: transform 0.4s;
}

.smolImg:hover,
.bigImg:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.coment1 {
  font-family: "Cormorant Infant";
  font-size: 16px;
  line-height: 1;
  font-weight: 400;

  margin-top: 20px;
  text-transform: uppercase;
}

.coment2 {
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}

@media (max-width: 1280px) {
  .title {
    display: flex;
    justify-content: center;
    letter-spacing: -1;
    font-size: clamp(30px, calc(4rem + ((1vw - 12.8px) * 3.6957)), 64px);
    line-height: clamp(30px, calc(4rem + ((1vw - 12.8px) * 3.6957)), 64px);
  }

  .coment1 {
    font-size: clamp(11px, calc(1rem + ((1vw - 12.8px) * 0.5435)), 16px);
    line-height: clamp(11px, calc(1rem + ((1vw - 12.8px) * 0.5435)), 16px);
    //  margin-top: 28px;
  }
}

@media (max-width: 1024px) {
  .root {
    padding-top: clamp(
      82px,
      calc(10.9375rem + ((1vw - 10.24px) * 14.006)),
      175px
    );
    // clamp(
    //   143px,
    //   calc(13.625rem + ((1vw - 10.24px) * 11.2952)),
    //   218px
    // );

    padding-bottom: clamp(
      78px,
      calc(9.0625rem + ((1vw - 10.24px) * 10.0904)),
      145px
    );
  }

  .performance {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    margin-bottom: clamp(
      55px,
      calc(6.25rem + ((1vw - 10.24px) * 6.7771)),
      100px
    );
  }
  .performance::after {
    bottom: -23px;
  }

  .works,
  .get {
    font-weight: 300; //было 400
    font-size: clamp(9px, calc(0.75rem + ((1vw - 12.8px) * 0.3261)), 12px);
    line-height: clamp(
      11.7px,
      calc(0.975rem + ((1vw - 19.2px) * 0.6094)),
      15.6px
    );
    // color: var(--grey3);
  }

  .get {
    margin-left: 5px;
    letter-spacing: 1px;
  }

  .works {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 7px;
  }

  .right {
    // flex: 1;
    // order: 3;
    display: none;
  }

  .left {
    flex-direction: column;
    flex: 1;
  }

  .trio {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .trio::after {
    bottom: clamp(
      -203px,
      calc(-12.6875rem + ((1vw - 10.24px) * -8.7349)),
      -145px
    );
  }

  .trio,
  .two {
    gap: clamp(14px, calc(3.25rem + ((1vw - 10.24px) * 5.7229)), 52px);
  }
  .trio img {
    object-fit: cover;
    max-width: none;
  }

  .bigImg,
  .smolImg {
    height: clamp(154px, calc(26.25rem + ((1vw - 10.24px) * 40.0602)), 420px);
  }

  .two {
    display: flex;
    flex-direction: column;
  }

  .down {
    display: flex;
  }

  .coment1 {
    margin-top: 7px;
  }
  .coment2 {
    display: none;
  }
}
