@import "global/styles/global";

.root {
  background-color: var(--dark);
  padding-top: 121px;
  padding-bottom: 166px;
}

.performance {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 83px;
}

.performance::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--gray);
  bottom: -32px;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.works,
.get {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray);
  margin: auto 0;
}

.get {
  position: relative;
  margin-right: 18px;
  letter-spacing: -1px;
}

.get::after {
  content: "";
  position: absolute;
  display: block;
  width: 144%;
  height: 1px;
  background-color: var(--gray);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.works {
  width: 155px;
  letter-spacing: -1px;
}
.right {
  // margin-left: auto;
  margin: auto 0 auto auto;
}

.title {
  font-size: 53px;
  color: var(--gray);
  letter-spacing: -3px;
}

.trio {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две одинаковые колонки */
  gap: 66px;
}

.trio::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--gray);
  bottom: -126px;
}

.two {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.bigImg {
  max-height: 820px;
  width: 100%;
  object-fit: cover;
}

.smolImg {
  max-height: 360px;
  width: 100%;
  object-fit: cover;
}

.coment1 {
  color: var(--gray);
  font-family: "Cormorant Garamond";
  font-size: 16px;
  letter-spacing: -1px;
}

.coment2 {
  color: var(--gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -1px;
}

.trio img {
  margin-bottom: 20px;
}
