.formContainer {
  display: flex;
  flex-direction: row;
  padding: 88px clamp(62px, calc(5.125rem + ((1vw - 19.2px) * 3.125)), 82px) 103px clamp(46px, calc(5.125rem + ((1vw - 19.2px) * 5.625)), 82px);

  background: var(--light);

  label {
    margin-bottom: 5px;
  }
}

.formField {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  width: 100%;
  margin: 15px 20px 0 15px;
}

.formField p {
  font-family: "Cormorant Infant";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: var(--grey3);
}

.formField input {
  margin-top: 4px;
  max-height: 60px;
  height: 100%;
  padding: 30px 0 24px;
  border-bottom: 1px solid var(--grey3);
  color: var(--grey3);
  outline: none;
}

.submitButton {
  //   font-family: Inter;
  font-size: 11.438px;
  font-weight: 400;
  line-height: normal;
  width: fit-content;
  height: fit-content;
  background-color: var(--light);
  color: var(--grey3);
  border: 1px solid var(--grey3);
  padding: 10px clamp(15px, calc(0.9375rem + ((1vw - 19.2px) * -0.625)), 19px);
  margin: auto 0 0 18px;
  text-transform: uppercase;
  transition: .3s;
}

.submitButton:hover {
  background-color: var(--brown);
  border-color: var(--brown);
  color: var(--light);
}

.error {
  border: 1px solid red;
}

@media (max-width: 1280px) {
  .formField p {
    font-size: clamp(14px, calc(1rem + ((1vw - 12.8px) * 0.2174)), 16px);
  }
}

@media (max-width: 1024px) {
  .formContainer {
    flex-direction: column;
  }

  .formField {
    max-width: 100%;
    margin: 15px 20px 0 15px;
  }

  .formField input {
    padding: 25px 0 20px;
  }

  .submitButton {
    margin-top: 60px;
    padding: 15px;
  }
}