.root {
  padding-top: clamp(10px, calc(5.8125rem + ((1vw - 19.2px) * 12.9688)), 93px);
  color: var(--grey2, #565656);
  line-height: 25px;
  h1,
  h2 {
    color: var(--black, #010005);
  }
}
.performance1,
.performance2,
.performance3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.performance1 {
  margin-bottom: clamp(10px, calc(3.75rem + ((1vw - 19.2px) * 7.8125)), 60px);
  transform: translateY(
    clamp(0px, calc(0rem + ((1vw - 19.2px) * -5.3125)), 34px)
  );
}

.performance2 {
  transform: translateY(32px);
  margin-left: var(--distance-to-the-container);
}

.title1 {
  font-size: 110px;
  line-height: 88px; /* 80% */
  width: min-content;
  display: flex;
  text-align: end;
  flex-wrap: wrap;
  .essence {
    margin-right: auto;
  }
}

.title2 {
  font-size: 90px;
  font-weight: 400;
  line-height: 1; // 90px; /* 100% */
  max-width: 465px;
  width: 100%;
  text-align: end;
  text-transform: uppercase;
}

.essence {
  font-style: normal;
  color: var(--brown);
}

.epilogue1,
.epilogue2,
.epilogue3,
list3 {
  color: var(--grey2, #565656);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}

.epilogue1 {
  max-width: 310px;
  width: 100%;
}

.epilogue2 {
  max-width: 305px;
  width: 100%;
}

.epilogue3 {
  max-width: 355px;
  width: 100%;
}

.list3 {
  display: flex;
  flex-direction: column;
  max-width: clamp(615px, calc(58.4375rem + ((1vw - 19.2px) * 50)), 935px);
  //   max-width: 935px;
  width: 100%;
  li {
    list-style-type: disc;
  }
}

.aboutFrameRight {
  display: flex;
  max-width: var(--width-container);
  width: 100%;
  min-height: clamp(382px, calc(33.75rem + ((1vw - 19.2px) * 24.6875)), 540px);
  height: 100%;
  object-position: center;
  object-fit: cover;
  margin-left: var(--distance-to-the-container-double);
  margin-bottom: 195px;
}

.aboutFrameLeft {
  display: flex;
  max-width: var(--distance-to-the-container-far);
  width: 100%;
  min-height: 523px;
  height: 100%;
  object-position: center;
  object-fit: cover;
  margin-right: var(--distance-to-the-container);
  margin-bottom: 63px;
}

@media (max-width: 1280px) {
  .root {
    padding-top: clamp(0px, calc(0.625rem + ((1vw - 12.8px) * 3.9063)), 10px);
  }

  .epilogue1 {
    font-size: clamp(10px, calc(1rem + ((1vw - 12.8px) * 0.6522)), 16px);
    line-height: clamp(16px, calc(1.5625rem + ((1vw - 12.8px) * 0.9783)), 25px);
    max-width: 308px;
  }
  .epilogue2,
  .epilogue3,
  .list3 {
    font-size: clamp(12px, calc(1rem + ((1vw - 10.24px) * 0.6024)), 16px);
  }
  .epilogue2 {
    line-height: clamp(
      18px,
      calc(1.5625rem + ((1vw - 10.24px) * 1.0542)),
      25px
    );
  }

  .epilogue3,
  .list3 {
    line-height: clamp(20px, calc(1.5625rem + ((1vw - 10.24px) * 0.753)), 25px);
  }

  .epilogue3 {
    max-width: 261px;
  }

  .title1 {
    font-size: clamp(44px, calc(6.875rem + ((1vw - 12.8px) * 7.1739)), 110px);
    line-height: clamp(35px, calc(5.3125rem + ((1vw - 12.8px) * 5.4348)), 85px);
  }

  .title2 {
    font-size: clamp(30px, calc(5.625rem + ((1vw - 12.8px) * 6.5217)), 90px);
    // max-width: 465px;
  }
  .list3 {
    max-width: 615px;
  }
}

@media (max-width: 1024px) {
  .root {
    padding-top: clamp(0px, calc(3.125rem + ((1vw - 10.24px) * 7.5301)), 50px);
  }
  .performance1,
  .performance2,
  .performance3 {
    flex-direction: column;
  }

  .performance1 {
    transform: translateY(
      clamp(22px, calc(2.125rem + ((1vw - 10.24px) * 1.8072)), 34px)
    );
    max-width: clamp(
      215px,
      calc(19.375rem + ((1vw - 10.24px) * 14.3072)),
      310px
    );
    width: 100%;
  }
  .title1 {
    margin-bottom: 19px;
  }
  .epilogue1 {
    // margin-left: 10vw;
    margin-left: clamp(77px, calc(6.125rem + ((1vw - 10.24px) * 3.1627)), 98px);
    color: var(--night);
  }
  .performance2 {
    flex-direction: column-reverse;
    transform: none;
    margin-bottom: 44px;
    margin-left: 0;
    max-width: clamp(
      230px,
      calc(29.0625rem + ((1vw - 10.24px) * 35.3916)),
      465px
    );
    * {
      text-align: start;
    }
  }

  .title2 {
    margin-bottom: 12px;
  }
  .list3 {
    // min-width: none;
    // width: 100%;
    margin-left: 16px;
    margin-bottom: 50px;
  }
  .epilogue3 {
    max-width: clamp(
      265px,
      calc(22.5625rem + ((1vw - 10.24px) * 14.4578)),
      361px
    );
    margin-bottom: 20px;
  }

  .aboutFrameRight {
    margin-left: auto;
    // width: 95.8vw;
    max-width: clamp(
      274px,
      calc(57.4375rem + ((1vw - 10.24px) * 97.1386)),
      919px
    );
    min-height: clamp(
      420px,
      calc(35.625rem + ((1vw - 10.24px) * 22.5904)),
      570px
    );
    transform: translateY(
      clamp(-72px, calc(0rem + ((1vw - 10.24px) * 10.8434)), 0px)
    );
    z-index: -1;
    position: relative;

    margin-bottom: clamp(
      40px,
      calc(12.1875rem + ((1vw - 10.24px) * 23.3434)),
      195px
    );
  }

  .aboutFrameLeft {
    min-height: clamp(
      145px,
      calc(32.6875rem + ((1vw - 10.24px) * 56.9277)),
      523px
    );
    margin-bottom: clamp(
      34px,
      calc(3.9375rem + ((1vw - 10.24px) * 4.3675)),
      63px
    );
  }

  .performance3 {
    margin-bottom: -7px;
  }
}
