@import "global/styles/global.scss";
.switch {
  width: 20px;
  height: 19px;
  border: none;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.dark {
  background-color: var(--dark);
  color: var(--light);
}

.light {
  background-color: var(--light);
  color: var(--dark);
}
