// @import "global/styles/global.scss";

.root {
  background-color: var(--dark);
  color: var(--light);
  // padding: 51px 0 32px 0;
  // clamp(37px, calc(3.1875rem + ((1vw - 19.2px) * 2.1875)), 51px)
  padding: 51px 0 clamp(32px, calc(2rem + ((1vw - 19.2px) * -1.7187)), 43px) 0;
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 63px;
}
.wrapper:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--light);
}

.right {
  display: flex;
  justify-self: end;
  gap: 86px;
}

.logo {
  // margin-left: 140px;
  justify-self: center;
}

.burger {
  display: none;
}

@media (max-width: 1280px) {
  .root {
    // padding: 37px 0 43px 0;
  }
}

@media (max-width: 320px) {
  .burger {
    display: block;
    width: 30px;
    height: 30px;
  }
}
