@import "global/styles/global";

.root {
  background: var(--dark);
  padding: 0px 0 107px 0;
}

.noLeftBorder {
  margin: 0 auto 0 0;
  width: 95vw;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.performance {
  display: flex;
  flex-direction: row;
  margin-bottom: 57px;
}

.philosophy {
  font-size: 12px;
  font-weight: 400px;
  color: var(--gray);
  padding-top: 119px;
  letter-spacing: -1px;
}

.title {
  font-size: 80px;
  transform: translateY(80px);
  //   margin-left: 449px;
  margin-left: calc(27vw - 5px);
  margin-top: 30px;
  letter-spacing: -1px;
  line-height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Выравнивание по вертикали */
  align-items: center; /* Выравнивание по горизонтали */
}

.free {
  color: var(--gray);
}

.overlap {
  color: var(--gold);
}

.pict {
  //   width: 1344px;
  height: 450px;
  width: 69.5vw;
  object-fit: cover;
}

.right {
  display: flex;
  flex-direction: column;
  color: var(--gray);
  //   margin: 0 0 0 auto;
}

.description {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  gap: 24px;
  width: 262px;
  color: var(--gray);
  padding-right: 10px;
  margin: 0 auto 0 52px;
  letter-spacing: -1px;
  line-height: 21px;
}

.more {
  position: relative;
  margin: 368px 15px 0 auto;
  color: var(--gray);
  width: max-content;
  font-size: 12px;
  letter-spacing: -1px;
}

.more::after {
  content: "";
  position: absolute;
  display: block;
  width: 105px;
  height: 1px;
  background-color: var(--gray);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
