// @import "global/styles/global";

.root {
  background: var(--light);
  padding: clamp(69px, calc(4.6875rem + ((1vw - 19.2px) * 0.9375)), 75px) 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.58333;
}

.entitlement {
  font-size: clamp(10px, calc(0.75rem + ((1vw - 19.2px) * 0.3125)), 12px);
  line-height: clamp(10px, calc(1.1875rem + ((1vw - 19.2px) * 1.4063)), 19px);
  font-weight: 400;
}

.first,
.second,
.third,
.fourth {
  color: var(--grey3);
  display: flex;
  flex-direction: column;
}
.first {
  max-width: 300px;
  width: 100%;
}

.first img {
  max-width: 293px;
  width: 100%;
  margin-bottom: clamp(
    49px,
    calc(3.0625rem + ((1vw - 19.2px) * -0.9375)),
    55px
  );
}

.second {
  padding-left: clamp(
    500px,
    calc(40.9375rem + ((1vw - 19.2px) * 24.2188)),
    655px
  );
}

.portfolio,
.contacts {
  color: var(--brown);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  margin-bottom: 7px;
}

.third {
  padding-left: 90px;
}

.list li {
}

.fourth {
  margin-left: auto;
}

.goTop {
  position: relative;
  background: var(--light);
  margin: -2px 13px auto 100px;
  padding-bottom: 10px;
  color: var(--grey3);
}

.goTop::after {
  content: "";
  position: absolute;
  display: block;
  width: 130%;
  height: 1px;
  background-color: var(--grey3);
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.7s;
}

.goTop:hover::after {
  width: 160%;
}

.item {
  color: var(--grey3);
  white-space: nowrap;
}

@media (max-width: 1280px) {
  .root {
    // padding: 90px 0;
  }
  .first img {
    // width: 200px;
    // margin-bottom: 29px;
  }

  .entitlement {
    // font-size: 10px;
    // line-height: 10px;
    font-weight: 300;
    letter-spacing: 1.3px;
    margin-bottom: 3px;
  }
  .second {
    // padding-left: 280px;
  }
  .portfolio,
  .contacts {
    margin-top: 2px;
    margin-bottom: 11px;
  }
  .third {
    // padding-left: 112px;
  }

  .fourth {
    margin-right: 11px;
    letter-spacing: -1px;
  }
}
