// @import "global/styles/global";

.root {
  flex: 0 1 auto;
  // background: var(--light);
  padding: clamp(69px, calc(4.6875rem + ((1vw - 19.2px) * 0.9375)), 75px) 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr auto auto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.58333;
}

.menus {
  display: flex;
  padding-right: clamp(
    80px,
    calc(23.125rem + ((1vw - 19.2px) * 45.3125)),
    370px
  );
}

.entitlement {
  font-size: clamp(10px, calc(0.75rem + ((1vw - 19.2px) * 0.3125)), 12px);
  line-height: clamp(10px, calc(1.1875rem + ((1vw - 19.2px) * 1.4063)), 19px);
  font-weight: 400;
}

.first,
.second,
.third,
.fourth {
  color: var(--grey3);
  display: flex;
  flex-direction: column;
}

.first {
  max-width: 300px;
  width: 100%;
}

.first img {
  max-width: 293px;
  width: 100%;
  margin-bottom: clamp(
    49px,
    calc(3.0625rem + ((1vw - 19.2px) * -0.9375)),
    55px
  );
}

.portfolio,
.contacts {
  color: var(--brown);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  margin-bottom: 7px;
}

.third {
  padding-left: 90px;
}

.list li {
}

.goTop {
  position: relative;
  background: transparent;
  margin: -2px 13px auto 100px;
  padding-bottom: 10px;
  color: var(--grey3);
}

.goTop::after {
  content: "";
  position: absolute;
  display: block;
  width: 130%;
  height: 1px;
  background-color: var(--grey3);
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.7s;
}

.goTop:hover::after {
  width: 160%;
}

.item {
  color: var(--grey3);
  white-space: nowrap;
}

@media (max-width: 1280px) {
  .root {
    // padding: 90px 0;
  }

  .first img {
    // width: 200px;
    // margin-bottom: 29px;
  }

  .entitlement {
    font-size: clamp(9px, calc(0.75rem + ((1vw - 12.8px) * 0.3261)), 12px);
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1.3px;
    margin-bottom: 3px;
  }

  .portfolio,
  .contacts {
    font-size: clamp(12px, calc(0.875rem + ((1vw - 12.8px) * 0.2174)), 14px);
    margin-top: 2px;
    margin-bottom: 11px;
  }

  .item {
    font-size: clamp(10px, calc(0.75rem + ((1vw - 12.8px) * 0.2174)), 12px);
    line-height: 18px;
  }

  .third {
    // padding-left: 112px;
  }

  .fourth {
    margin-right: 11px;
    letter-spacing: -1px;
  }

  .goTop {
    font-size: clamp(10px, calc(0.75rem + ((1vw - 12.8px) * 0.2174)), 12px);
    line-height: clamp(
      13px,
      calc(1.1625rem + ((1vw - 12.8px) * 0.6087)),
      18.6px
    );
  }
}

@media (max-width: 1024px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .first,
  .menus,
  .fourth {
    margin: 0 auto;
    padding: 0;
  }

  .first {
    margin-bottom: 30px;
  }

  .first * {
    display: flex;
    margin: 0 auto;
  }

  .first img {
    max-width: clamp(
      200px,
      calc(17.1875rem + ((1vw - 12.8px) * 8.1522)),
      275px
    );
    width: 100%;
    margin-bottom: 30px;
  }

  .second {
    padding-left: 0;
    margin-bottom: 30px;
  }

  .goTop {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .third {
    padding-left: 70px;
  }

  .fourth {
    margin-top: 40px;
  }
}
