// @import "global/styles/fonts";

.root {
  position: relative;
  display: block;
  width: 100%;

  // height: calc(100vh - 120px);
  height: clamp(646px, calc(60.0625rem + ((1vw - 19.2px) * 49.2188)), 961px);
  background-image: url("./../../../assets/img/mainHero/hero1920.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Черный цвет с непрозрачностью */
  }
  padding-bottom: 15px;
}

.title {
  position: inherit;
  text-align: center;
  font-size: 110px;
  font-weight: 400;
  line-height: 1;
  margin-top: clamp(-11px, calc(-0.0625rem + ((1vw - 19.2px) * 1.5625)), -1px);
  // margin-bottom: 15px;
  margin-bottom: calc(0.9375rem + ((1vw - 19.2px) * 0.625));
  text-transform: uppercase;
}

.strFirst {
  display: block;
  background-color: var(--dark);
  color: var(--brown);
  // padding: 8px 0 12px 0;
  padding: 8px 0 calc(0.75rem + ((1vw - 19.2px) * 1.875)) 0;

  margin-bottom: calc(0rem + ((1vw - 19.2px) * -1.875));
}

.strSecond {
  display: block;
  color: var(--light);
  margin-top: -12px;
  letter-spacing: -0.2px;
}

.text {
  display: flex;
  position: inherit;
  flex-direction: column;
  z-index: 5;
}

.creating {
  position: inherit;
  max-width: 553px;
  width: 100%;

  color: var(--light);
  text-align: center;
  font-size: 26px;
  line-height: 1.15385;
  //margin: 0 auto 28px auto; // По заданию Владимира делаю кнопку ниже
  margin: 0 auto 45px auto;
  z-index: 5;
}

.callButton {
  display: flex;
  position: inherit;
  background: var(--gold);
  padding: 16px 13px 16px 13px;
  font-weight: 400;
  line-height: 1.55;
  color: var(--light);
  font-size: 14px;
  margin: 10px auto 0 auto;
  z-index: 5;
  transition: transform 0.8s;
}

.callButton:hover {
  background: var(--light);
  color: var(--gold);
}

h1 {
  text-transform: uppercase; /* Заглавные буквы */
}

@media (max-width: 1280px) {
  .root {
    // height: calc(100vh - 117px);
    // height: 683px;
    background-image: url("./../../../assets/img/mainHero/hero1280.png");
  }

  .title {
    // font-size: 80px;
    // margin-top: -11;

    letter-spacing: -1px;
  }

  .creating {
    // width: 355px;
    // font-size: 16px;
    // line-height: 1.3; //20.8
  }

  .strFirst {
    // padding: 8px 0 0 0;
    //  margin-bottom: 12px;
  }

  .title {
    // font-size: 80px;
    //  margin-bottom: 11px;
  }

  // .callButton {
  //      font-weight: 400;
  //   line-height: 1.55;
  //   font-size: 14px;
  //    }
}

@media (max-width: 1280px) {
  .root {
    background-image: url("./../../../assets/img/mainHero/hero320.png");
  }
}

@media (max-width: 320px) {
  .callButton {
    display: none;
  }
}
