@import "global/styles/global";
// @import "global/styles/fonts";

.root {
  position: relative;
  display: block;
  width: 100%;

  height: calc(100vh - 120px);
  background-image: url("./../../../assets/img/mainHero/heroN.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

// .root::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.5);
// }

.title {
  position: inherit;
  text-align: center;
  font-size: 110px;
  line-height: 1;
  margin-top: -1px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.strFirst {
  display: block;
  background-color: var(--dark);
  color: var(--brown);
  padding: 8px 0 12px 0;
}

.strSecond {
  display: block;
  color: var(--light);
  margin-top: -12px;
  letter-spacing: -0.2px;
}

.text {
  display: flex;
  position: inherit;
  flex-direction: column;
  z-index: 5;
}

.creating {
  position: inherit;
  // width: 351px;
  width: 555px;
  color: var(--light);
  text-align: center;
  font-size: 26px;
  line-height: 1.15385;
  margin: 0 auto 28px auto;
  z-index: 5;
}

.callButton {
  display: flex;
  position: inherit;
  background: var(--gold);
  padding: 16px 13px 16px 13px;
  font-weight: 400;
  line-height: 1.55;
  color: var(--light);
  font-size: 14px;
  margin: 10px auto 0 auto;
  z-index: 5;
  transition: transform 0.8s;
}

.callButton:hover {
  background: var(--light);
  color: var(--gold);
}

h1 {
  text-transform: uppercase; /* Заглавные буквы */
}
