// @import "global/styles/global";

.root {
  // background: var(--dark);
  background: var(--lite);

  //padding ниже был раочим. Видимо что-то в другом месте повлияло. Переделал
  // padding-top: clamp(80px, calc(7.5rem + ((1vw - 12.8px) * 4.3478)), 120px);
  padding-top: clamp(140px, calc(8.75rem + ((1vw - 19.2px) * -22.1875)), 282px);
  padding-right: 0;
  padding-bottom: 77px;
  padding-left: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.services {
  font-size: 74px;
  line-height: 1.154;
  letter-spacing: 1px;
  margin-right: clamp(
    99px,
    calc(18.125rem + ((1vw - 19.2px) * 29.8438)),
    290px
  );
  margin-top: clamp(-15px, calc(0.875rem + ((1vw - 19.2px) * 4.5313)), 14px);
  color: var(--grey3);
}

.kinds {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.kinds::after {
  content: "";
  position: absolute;
  bottom: clamp(-30px, calc(-1.875rem + ((1vw - 19.2px) * -5)), 2px);
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--grey3);
}

.bottomLine {
  position: relative;
}

.bottomLine::after {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--grey3);
}

@media (max-width: 1280px) {
  .root {
  }

  .services {
    letter-spacing: 1px;
    font-size: clamp(30px, calc(4.625rem + ((1vw - 12.8px) * 4.7826)), 74px);
    line-height: clamp(
      30px,
      calc(7.1875rem + ((1vw - 12.8px) * 9.2391)),
      115px
    );
    margin-right: clamp(
      20px,
      calc(6.1875rem + ((1vw - 12.8px) * 30.8594)),
      99px
    );
  }

  .kinds::after {
    // bottom: -5px;
  }

  .tip {
    letter-spacing: -0.5px;
  }

  .description {
    padding: px 0px 0px 12px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .root {
    padding-top: 35px;
  }
  .services {
    letter-spacing: 0px;
    margin-bottom: 27px;
  }
  .line {
    margin-bottom: 3px;
  }
  .wrapper {
    flex-direction: column;
  }
}
