// @import "global/styles/global";

.line {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 4fr 2fr;
  gap: 5px;
  // margin: 50px 0px -8px 0px;
  margin: clamp(19px, calc(3.125rem + ((1vw - 19.2px) * 4.8438)), 50px) 0px
    clamp(-8px, calc(-0.5rem + ((1vw - 19.2px) * -4.0625)), 18px) 0px;

  color: var(--grey3);
}

.line:before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--grey3);
}

.tip {
  font-family: "Cormorant Garamond";
  // font-size: 40px;
  font-size: clamp(32px, calc(2.5rem + ((1vw - 19.2px) * 1.25)), 40px);
  // line-height: 1.55;
  line-height: clamp(32px, calc(3.875rem + ((1vw - 19.2px) * 4.6875)), 62px);
  margin-right: 20px;
}

.description {
  // font-size: 16px;
  font-size: clamp(14px, calc(1rem + ((1vw - 19.2px) * 0.3125)), 16px);
  font-weight: 400;
  // line-height: 1.5625;
  line-height: clamp(16.8px, calc(1.5625rem + ((1vw - 19.2px) * 1.2812)), 25px);
  padding: 11px 10px 0px 36px;
}

.request {
  position: relative;
  height: fit-content;
  border: none;
  background: transparent;
  color: var(--grey3);
  font-size: 12px;
  line-height: clamp(
    15.6px,
    calc(1.1625rem + ((1vw - 19.2px) * 0.4688)),
    18.6px
  );
  font-weight: 400;
  padding: clamp(7px, calc(0.625rem + ((1vw - 19.2px) * 0.4688)), 10px) 0 10px 0;
  margin: clamp(0px, calc(0.625rem + ((1vw - 19.2px) * 1.5625)), 10px) 10px 0px
    auto;
  transition: width 0.4s;
  text-transform: uppercase;
}

.request::after {
  content: "";
  position: absolute;
  bottom: 1px;
  // left: clamp(-12px, calc(-0.75rem + ((1vw - 19.2px) * -1.875)), 0px);

  display: block;
  // width: 127%;
  width: 115%; // Значение мое, так как оригинал - нелепый
  height: 1px;
  background-color: var(--grey3);
  left: 50%;
  transform: translateX(-50%);
}

.request:hover::after {
  width: 137%; /* Увеличиваем ширину на 10% */
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1280px) {
  .tip {
    // font-size: 32px;
    // line-height: 32px; //1;
  }
  .description {
    // font-size: 14px;
    font-weight: 300;
    // line-height: 16.8px; //1.5625;
    padding: 3px 35px 0px 17px;
  }

  .request {
    font-weight: 300;
    //  line-height: 15.6px;
    // margin: 0px 10px 0px auto; //размеры мои
    // padding: 7px 0 10px 0;
  }

  .request::after {
    bottom: 2px;
    // left: 0px;
    // width: 109%;
  }

  .line {
    //  margin: 19px 0px 18px 0px;
  }

  .kinds::after {
    // bottom: -3px;
  }
}
