// &:last-child {
//   margin-right: 0;

.social {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-self: center;
}

.social img {
  display: flex;
  flex-direction: row;
  width: 25px;
  border-radius: 50%;
}

.social img:hover {
  cursor: pointer;
}

.phone {
  // border-radius: 50%;
  background: white;
  width: 25px;
  height: 25px;
}
