// &:last-child {
//   margin-right: 0;

.social {
  display: flex;
  flex-direction: row;
  gap: 21px;
}

.social img {
  display: flex;
  flex-direction: row;
  width: 22px;
}

.social img:hover {
  cursor: pointer;
}
