.social {
  &_block {
    display: flex;
    flex-direction: row;
  }
  &_icon {
    height: 30px;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
